[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
torch = "*"
matplotlib = "*"
ipykernel = "*"
jupyter = "*"
Image = "*"
pillow = "*"
scikit-learn = "*"
scikit-image = "*"
torchvision = "*"

[requires]
python_version = "3.7"
